*{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counter-div{
    width: 40rem;
    border: 1px solid steelblue;
    padding: 1rem;
    background-color: rgb(113, 124, 230);
    color: white;
    text-align: center;
    border-radius: 5px;
}

.counter-div > * {
    margin-bottom: 2rem;
}

.count {
    font-size: 4rem;
}

.buttons button{
    padding: 1rem;
    margin-bottom: 0 1rem;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

button.subtrack{
    background-color: tomato;
    color: white;
}

button.reset{
    background-color: white;
    color: rgb(46, 43, 43);
}
button.add{
    background-color: rgb(84, 253, 84);
    color: rgb(61, 57, 57);
}


















